Source: neatvnc
Priority: optional
Section: libs
Maintainer: Han Gao <rabenda.cn@gmail.com>
Standards-Version: 4.7.0
Build-Depends:
 debhelper-compat (= 13),
 gnutls-dev,
 libaml-dev (>= 0.3),
 libavcodec-dev,
 libavfilter-dev,
 libavutil-dev,
 libdrm-dev,
 libgbm-dev,
 libpixman-1-dev,
 libturbojpeg0-dev,
 libxxhash-dev,
 meson,
 pkgconf,
 zlib1g-dev,
Rules-Requires-Root: no
Homepage: https://github.com/any1/neatvnc/
Vcs-Git: https://salsa.debian.org/debian/neatvnc.git
Vcs-Browser: https://salsa.debian.org/debian/neatvnc

Package: libneatvnc-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 gnutls-dev,
 libaml-dev (>= 0.3),
 libavcodec-dev,
 libavfilter-dev,
 libavutil-dev,
 libdrm-dev,
 libgbm-dev,
 libneatvnc0 (= ${binary:Version}),
 libpixman-1-dev,
 libturbojpeg0-dev,
 libxxhash-dev,
 zlib1g-dev,
 ${misc:Depends},
Description: Fast and neat VNC server library (development files)
 Neatvnc is a liberally licensed VNC server library that's intended
 to be fast and neat. It comes with the goal of speed, clean interface
 and interoperability with the Freedesktop.org ecosystem.
 .
 This package provides library development files.

Package: libneatvnc0
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Fast and neat VNC server library (shared library)
 Neatvnc is a liberally licensed VNC server library that's intended
 to be fast and neat. It comes with the goal of speed, clean interface
 and interoperability with the Freedesktop.org ecosystem.
 .
 This package provides shared libraries.
